global:
  log_file: $ROOT_DIR$/ob-panel.log
  data_dir: $ROOT_DIR$/ob-panel
  zhao: 1
  lang: zh-CN
db:
  type: sqlite
  name: ob-panel
  mysql_host: 
  mysql_port: 
  mysql_user: 
  mysql_password: 
server:
  host: 0.0.0.0
  listen_port: 80
ftp:
  host: 0.0.0.0
  listen_port: 21
