global:
  log_file: /var/log/ob-panel.log
  data_dir: $HOME$/ob-panel
  zhao: 1
  lang: zh-CN
db:
  type: sqlite
  name: ob_panel
  mysql_port: 3306
  mysql_user: root
  mysql_password:   
server:
  host: 0.0.0.0
  listen_port: 80
ftp:
  listen_port: 21